@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
:root{
--primary_color:#f0093f;/* Primary Brand color #00526b-----------------------*/
--secondary_color:#df66ce;/* Secondary Brand color #0091bd -------------------*/


/* Black and White colors ----------------------*/
--color_black:#000000;
--color_gray:#4b3c5c;    
--color_gray_light:#666666;
--color_gray_lighter:#cbcbd3;
--color_gray_more_lighter:#f6f6fa;
--color_light:#f9fbfc;
--color_white:#ffffff;

--color_peach:#f9a894;
--color_peach_light:#ffcec3;
--color_sea_green:#09cac9;
--color_purple:#8456f8;
--color_pink:#df66ce;
--color_ghost:transparent;

--sidebar_bg:#664788;
--sidebar_font:#ffffff;


--gradient-style1:linear-gradient(45deg, var(--primary_color) 0%, var(--secondary_color) 100%);
--gradient-style2:linear-gradient(45deg, var(--color_purple) 0%, var(--color_pink) 100%);
--gradient-style3:linear-gradient(45deg, #0460f5  0%, #0befba 100%);

--custom-font-family:'Roboto', sans-serif;
--main_bg_color:#f0ebf7; /* Brand light background color ----------------*/
--primary_btn_color:var(--gradient-style1);



}

 